services:
  stats-db:
    image: postgres:16.1
    container_name: stats-db
    ports:
      - "6541:5432"
    environment:
      - POSTGRES_PASSWORD=admin
      - POSTGRES_USER=admin
      - POSTGRES_DB=stats
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10
    networks:
      - explore-network

  stats-server:
      build:
        context: stats-service/stats-server
        dockerfile: Dockerfile
      container_name: stats-service
      ports:
        - "9090:9090"
      environment:
        - SPRING_DATASOURCE_URL=jdbc:postgresql://stats-db:5432/stats
        - SPRING_DATASOURCE_USERNAME=admin
        - SPRING_DATASOURCE_PASSWORD=admin
        - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      depends_on:
        stats-db:
          condition: service_healthy
      healthcheck:
        test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
        interval: 30s
        timeout: 10s
        retries: 3
        start_period: 40s
      networks:
        - explore-network
      restart: unless-stopped
networks:
  explore-network:
    driver: bridge